*
  font-family 'Avenir', Helvetica, Arial, sans-serif

mark
  background $mark-color

.tutorial
  &__title
    margin 0 0 24px 0
    
    h1
      font-size $font-title
      font-weight 100
      color $green
      margin 0

  &__gist
    margin 0 -8px

    a
      display none

  &__body
    width 100%

    &__lead
      padding 15px 20px
      background $white-smoke
      border-radius 8px
      box-shadow 4px 3px 20px 1px rgba(136, 136, 136, 0.27)

    h3
      font-weight 100
      font-size $font-subtitle

    p
      font-size $font-text
      line-height 1.8
    
    ul
      list-style: none
      padding 0
      margin 40px 0 0
    
    li
      position relative
      padding 12px 0
      font-size $font-list

      &::before
        content '•'
        color $blue
        margin-right 10px