*
  font-family 'Avenir', Helvetica, Arial, sans-serif

mark
  background $mark-color

.tutorial
  &__title
    margin 0 0 24px 0
    
    h1
      font-size $font-title
      font-weight 100
      color $green
      margin 0

  &__gist
    margin 0 -8px

    a
      display none

  &__table
    &__2
    &__3
    &__4
    &__6
      th
        padding 8px 16px
        text-align left 
        background transparentize($blue, .2)

    &__2
      th
        width 50%
    
    &__3
      th
        width 33.3%

    &__4
      th
        width 25%

    &__6
      th
        width calc(100% / 6)

  &__body
    width 100%

    &__lead
      position relative
      padding 15px 20px

      &::before
        content ''
        position absolute
        width 5px
        height 100%
        left 0
        top 0
        background transparentize($blue, .2)

    h3
      font-weight 100
      font-size $font-subtitle

    p
      font-size $font-text
      line-height 1.8

    code
      padding 1px 4px
    
    ul
      list-style: none
      padding 0
      margin 40px 0 0
    
    li
      position relative
      padding 12px 0
      font-size $font-list

      &::before
        content '•'
        color $blue
        margin-right 10px
    
    table
      width 100%
      margin 20px 0
      border 1px solid $blue

      td
        padding 8px 16px

      tr
        &:nth-child(even)
          background transparentize($blue, .1)

.el-checkbox
  margin 10px 0 !important