//color
$blue = #409EFf
$green = #42b983
$white-smoke = #f5f5f5
$mark-color = rgba(0, 255, 137, 0.45)

//fonts
$font-title = 4em
$font-subtitle = 2.5em
$font-text = 1.4em
$font-menu = 1.2em
$font-list = 1.1em
$font-default = 1em
